In [1]:
import pandas as pd
import numpy as np

In [2]:
EWfile = r'TEMP\EWG_center_2016.csv'
NSfile = r'TEMP\NSG_center_2016.csv'

In [3]:
EWdf = pd.read_csv(EWfile)
NSdf = pd.read_csv(NSfile)

In [4]:
EWdf['datetime'] = pd.to_datetime(EWdf['datetime'])
NSdf['datetime'] = pd.to_datetime(NSdf['datetime'])
EWdf.set_index('datetime', inplace=True)
NSdf.set_index('datetime', inplace=True)

In [5]:
EWdf.drop(columns=['DNI', 'DHI', 'GHI', 'temp_air', 'wind_speed', 
                   'Unnamed: 0', 'Orientation', 'Timestamp', 'solpos_zenith', 
                   'Row', 'Module',
                  'solpos_azimuth'], inplace=True)

NSdf.drop(columns=['DNI', 'DHI', 'GHI', 'temp_air', 'wind_speed', 
                   'Unnamed: 0', 'Orientation', 'Timestamp',
                   'Row', 'Module',
                  ], inplace=True)

In [6]:
weatherfile = r'C:\Users\sayala\Documents\GitHub\Studies\SouthPole\Journals\TEMP\SouthPole_2021_WeatherFile.csv'
weatherfile = r'C:\Users\sayala\Documents\GitHub\Studies\SouthPole\Journals\IOFiles\POWER_Point_Hourly_20160101_20161231_090d00S_000d00E_LT.csv'

In [7]:
df = pd.read_csv(weatherfile, skiprows=2)

In [8]:
#df['datetime'] = pd.to_datetime(df[['Year','Month','Day', 'Hour']], format="%Y-%m-%d_%H%M").dt.tz_localize(tz='Etc/GMT+3')
df['datetime'] = pd.to_datetime(df[['Year','Month','Day', 'Hour']], format="%Y-%m-%d_%H%M").dt.tz_localize(tz='Etc/GMT-14')

df.set_index('datetime', inplace=True)

In [9]:
NSdf.head(25)

,solpos_zenith,solpos_azimuth,SouthFacing_POA,NorthFacing_POA,North_Performance,South_Performance
datetime,,,,,,
2016-01-01 01:00:00+14:00,66.904413,8.206346,1148.19552,778.86240,331.310197,468.304087
2016-01-01 02:00:00+14:00,66.907436,353.211321,1006.75920,695.54436,298.239953,417.341089
2016-01-01 03:00:00+14:00,66.910472,338.216295,817.70562,583.96828,252.974981,346.100293
2016-01-01 04:00:00+14:00,66.913522,323.221267,592.97314,456.07800,199.621419,256.594518
2016-01-01 05:00:00+14:00,66.916584,308.226237,352.78876,329.31972,145.282402,155.445909
2016-01-01 06:00:00+14:00,66.919661,293.231205,396.35798,490.60418,214.127674,174.186314
2016-01-01 07:00:00+14:00,66.922750,278.236172,527.05804,720.70314,307.938680,229.343270
2016-01-01 08:00:00+14:00,66.925853,263.241136,472.72016,670.40462,287.873514,206.612351
2016-01-01 09:00:00+14:00,66.928969,248.246098,713.88714,1045.98168,430.946470,305.249468
2016-01-01 10:00:00+14:00,66.932099,233.251059,810.66950,1202.62740,486.106926,343.180818
2016-01-01 11:00:00+14:00,66.935242,218.256018,839.25690,1249.16010,501.998256,354.184631
2016-01-01 12:00:00+14:00,66.938398,203.260974,828.02740,1232.11820,496.147330,349.810870
2016-01-01 13:00:00+14:00,66.941568,188.265929,781.53120,1152.96992,468.732977,331.732144
2016-01-01 14:00:00+14:00,66.944751,173.270881,701.81838,1016.67946,420.001862,300.263209
2016-01-01 15:00:00+14:00,66.947947,158.275832,588.24812,823.26820,347.584699,254.400574
2016-01-01 16:00:00+14:00,66.951157,143.280781,456.47458,594.53258,256.909507,199.619854
2016-01-01 17:00:00+14:00,66.954380,128.285727,331.14362,355.15094,156.386215,146.010636
2016-01-01 18:00:00+14:00,66.957616,113.290672,496.83192,406.99836,178.628241,216.544886
2016-01-01 19:00:00+14:00,66.960866,98.295615,550.98934,462.77242,202.316816,239.094605
2016-01-01 20:00:00+14:00,66.964129,83.300555,845.93444,605.50864,261.548170,356.406175
2016-01-01 21:00:00+14:00,66.967405,68.305494,1099.82350,749.70370,319.224173,449.825812
2016-01-01 22:00:00+14:00,66.970695,53.310430,962.17628,688.71106,295.163414,400.249144
2016-01-01 23:00:00+14:00,66.973998,38.315365,625.77090,509.06624,221.793216,269.808096
2016-01-02 01:00:00+14:00,66.980643,8.325227,538.84490,456.36096,199.525131,233.999058
2016-01-02 02:00:00+14:00,66.983986,353.330155,506.13132,433.27060,189.759309,220.411761

In [10]:
NSdf.tail(1)

,solpos_zenith,solpos_azimuth,SouthFacing_POA,NorthFacing_POA,North_Performance,South_Performance
datetime,,,,,,
2016-12-31 23:00:00+14:00,66.955043,38.288568,813.91228,581.8314,247.291962,338.492324

In [11]:
df.head(1)

,Year,Month,Day,Hour,GHI,DNI,DHI,Tdry,twet,Tdew,Wspd,Wdir,rh,pres,snow,Alb,aod
datetime,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00+14:00,2016,1,1,0,478.156,1077.961,65.156,-30.611,-30.931,-31.244,3.108,53.793,93.375,684.896,NaN,0.75,0.0

In [12]:
df.tail(1)

,Year,Month,Day,Hour,GHI,DNI,DHI,Tdry,twet,Tdew,Wspd,Wdir,rh,pres,snow,Alb,aod
datetime,,,,,,,,,,,,,,,,,
2016-12-31 23:00:00+14:00,2016,12,31,23,377.672,274.93,272.211,-22.791,-23.142,-23.494,4.336,6.933,93.188,692.29,NaN,0.797,0.0

In [13]:
#EWdf.rename(columns={"temp_air": "Tdry", "wind_speed": "Wspd"}, inplace=True)
#NSdf.rename(columns={"temp_air": "Tdry", "wind_speed": "Wspd"}, inplace=True)

In [14]:
result = pd.concat([df, EWdf], axis=1)
result = pd.concat([result, NSdf], axis=1)

In [15]:
result = result.tz_convert(tz='Etc/GMT-14')

In [16]:
#result['Row'] = 4
#result['Module'] = 10
#result.drop(columns=['Unnamed: 0'], inplace=True)
#result.drop(columns=['Orientation'], inplace=True)
#result.drop(columns=['Timestamp'], inplace=True)

In [18]:
result.to_csv(r'TEMP\HPC_SAMFormat_2016.csv')

In [23]:
result.bfill().to_csv(r'TEMP\HPC_SAMFormat_2016_bfill.csv')